body {
  background-color: #212121;
  font-family: Roboto, "Open Sans", sans-serif;
  color: #eee;
  margin: 0;
  padding-bottom: 50px;
}

#profile {
  text-align: center;
  background: #121212;
  border-bottom: 2px solid #000;
  padding: 15px 0;
  box-shadow: 0 0 5px #000;
  position: relative;
}
#profile > span {
  font-size: 1.8em;
  display: block;
  margin-top: 16px;
}
#profile > p {
  color: #999;
  margin: 8px;
}
#profile > img {
  background: #171717;
  border: 2px solid #59b0ff;
  transition: 0.5s box-shadow ease;
  -webkit-animation: myanim 0.8s ease-out forwards;
          animation: myanim 0.8s ease-out forwards;
  box-shadow: 0 0 8px rgba(89, 176, 255, 0);
}
@-webkit-keyframes myanim {
  0% {
    border-radius: 0%;
  }
  100% {
    border-radius: 50%;
  }
}
@keyframes myanim {
  0% {
    border-radius: 0%;
  }
  100% {
    border-radius: 50%;
  }
}
#profile > img:hover {
  box-shadow: 0 0 8px #59b0ff;
}

#social {
  position: absolute;
  right: 10px;
  bottom: 10px;
  transition: all ease-out 0.5s;
}
#social svg {
  width: 32px;
  transition: 0.3s filter ease-out;
  fill: #fff;
}
#social > a:hover svg {
  filter: drop-shadow(0px 0px 3px #aaa);
}
#social > a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #fff !important;
  margin: 10px;
  width: 32px;
  height: 32px;
}
#social > a:hover .tooltip:not(:hover) {
  opacity: 1;
}
#social .tooltip {
  position: absolute;
  background: #080808;
  padding: 5px;
  border-radius: 2px;
  opacity: 0;
  transition: 0.2s opacity ease;
  left: 16px;
  transform: translate(-50%, 0);
  bottom: 50px;
  pointer-events: none;
}
#social .tooltip::after {
  background: #080808;
  -webkit-clip-path: polygon(0 0, 100% 0, 50% 100%);
          clip-path: polygon(0 0, 100% 0, 50% 100%);
  content: "";
  display: block;
  height: 10px;
  position: absolute;
  left: 50%;
  bottom: -10px;
  width: 10px;
}
@media screen and (max-width: 630px) {
  #social {
    bottom: 100px;
  }
  #social a {
    display: block;
  }
  #social .tooltip {
    right: 48px;
    bottom: 6px;
    transform: none;
    left: initial;
  }
  #social .tooltip::after {
    -webkit-clip-path: polygon(0 0, 100% 50%, 0 100%);
            clip-path: polygon(0 0, 100% 50%, 0 100%);
    right: -10px;
    bottom: 9px;
    left: initial;
  }
}
@media screen and (min-width: 630px) {
  #social a.discord .tooltip {
    right: 0;
    transform: none;
    left: initial;
  }
  #social a.discord .tooltip::after {
    left: initial;
    right: 16px;
  }
}

#page {
  margin: 0 30px;
}

h2 {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin: 20px auto;
}

#projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px 20px;
}
#projects > div {
  display: flex;
  flex-direction: column;
  flex: 1 1 200px;
  max-width: 300px;
  min-width: 200px;
  background: #181818;
  min-height: 400px;
  border-radius: 5px;
  padding: 12px;
  padding-bottom: 18px;
  box-sizing: border-box;
  transition: 0.5s box-shadow ease;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1333333333), inset 0 -23px 0px -20px #59b0ff, inset 0 -28px 10px -25px rgba(89, 176, 255, 0);
}
#projects > div:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1333333333), inset 0 -23px 0px -20px #59b0ff, inset 0 -28px 10px -25px #59b0ff;
}
#projects > div h3 {
  text-align: center;
  width: 100%;
  margin: 10px 0 0 0;
}
#projects > div p {
  color: #bbb;
}
#projects > div > img {
  width: 100%;
}
#projects > div .links {
  margin-top: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}
#projects > div .links a {
  flex: 1;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: #3e8bb9;
  padding: 6px 12px;
  color: #fff;
  text-decoration: none;
  display: block;
  border-radius: 2px;
  text-align: center;
  transition: 0.2s box-shadow ease;
  box-shadow: inset 0 -18px 0px -20px #59b0ff;
}
#projects > div .links a svg {
  height: 1em;
  vertical-align: text-bottom;
}
#projects > div .links a:not([disabled]):hover {
  box-shadow: inset 0 -24px 0px -20px #59b0ff;
}
#projects > div .links a:not([disabled]):active {
  background: #2d6586;
}
#projects > div .links a[disabled] {
  opacity: 0.5;
  pointer-events: none;
}/*# sourceMappingURL=style.css.map */